html, body, .main-container, .music-container {
    width: 100%;
    height: 100%;
}
.icon {
    position: absolute;
    font-size: 30px;
}
.left {
    left: 15px;
}
.right {
    right: 15px;
}
.router-link {
    display: flex;
    align-items: center;
}